{% extends 'base.html.twig' %}

{% block body %}
<h1>Blogs</h1>

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col">
        </div>
        <div class="col">
        
        </div>
    </div>
</div>
{% endblock %}